/* header.component.css */
header {
    background-color: #BB7D5F;
    color: white;
    padding: 10px;
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 15px;
  }

  .profile-link {
    margin-left: auto; /* Mueve el enlace del perfil al extremo derecho */
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
