<div class="container text-center p-5">
    <h2>Sobre Nosotros</h2>
    <div class="p-5">
        <p>
            Nuestra empresasurge ante la realidad vivida por parte de mujeres de nuestro entorno, por esos problemas
            soportados por una amiga, una hermana, una madre, o incluso nosotras mismas. La comprobación por medio de casos reales y cercanos, de la problemática
            que un embarazo, asunto ginecológico u obstétrico puede presentar
        </p>
        <p class="p-5">
            Las personas que se enfrentan a este tipo de situaciones se encuentran, a menudo, con el retraso de pruebas, la molestia o la inviabilidad de desplazarse
            así como de ser atendidas en un impersonal centro sanitario. El cómo un momento tan importante y tan bonito como una gestación pueden convertirse en una experiencia tortuosa e infeliz, al igual
            que un simple reconocimiento ginecológico puede generar miedos y traumas para el futuro si se ha sentido una violación de la intimidad o mal trato
        </p>
    </div>
    <div>
        <img src="assets\images\logo.jpg" alt="Logo">
    </div>
</div>