<footer class="bottom text-center" id="pie">
    <div class="d-inline-flex p-2">
    <div class="container-sm ">
        <p>HORARIOS</p>
        <p>Lunes a Viernes: 10:00 - 18:00</p>
        <p>Fines de semana: Sujeto a disponibilidad para eventos como gender reveals</p>
    </div>
    <div class="container-sm" id="contacto">
        <p>CONTÁCTANOS</p>
        <p>WhatsApp: +34 626959315</p>
        <p>Teléfono: 954255852</p>
        <p>E-mail: baby.on.road&#64;gmail.com</p>
    </div>
</div>
  </footer>