<div class="container p-5">
    <form class="row g-3">
        <div class="col-6">
            <label for="nombreCompleto" class="form-label">Nombre completo:</label>
            <input type="text" class="form-control" id="nombreCompleto" placeholder="Nombre Ejemplo">
          </div>
        <div class="col-6">
            <label for="apellidos" class="form-label">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos" placeholder="Apellidos Ejemplo">
          </div>
        <div class="col-12">
          <label for="correoElectronico" class="form-label">Correo Electrónico</label>
          <input type="text" class="form-control" id="correoElectronico" placeholder="ejemplo@ejemplo.com">
        </div>
        <div class="col-12">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="usuario" placeholder="usuario-ejemplo">
        </div>
        <div class="col-12">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="contrasena" >
          </div>
          <div class="col-12">
            <label for="contrasenaCheck" class="form-label">Repita su contraseña</label>
            <input type="text" class="form-control" id="contrasenaCheck" >
          </div>
        <div class="col-md-6">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="direccion" placeholder="C/ Calle de ejemplo">
        </div>
        <div class="col-md-2">
          <label for="numero" class="form-label">Número</label>
          <input type="number" class="form-control" id="numero" >
        </div>
        <div class="col-md-2">
            <label for="piso" class="form-label">Piso</label>
            <input type="text" class="form-control" id="piso">
          </div>
        <div class="col-12">
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
      </form>
</div>