<div class="container text-center">
  <div class="p-5">
    <img src="assets\images\logo.jpg" alt="Logo" />
  </div>
  <div class="container text-center">
    <div class="mb-3 col-5">
      <label for="formGroupExampleInput" class="form-label"
        >Introduce aquí tu usuario</label
      >
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Usuario"
      />
    </div>
    <div class="mb-3 col-5">
      <label for="formGroupExampleInput2" class="form-label"
        >Introduce aquí tu contraseña</label
      >
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Contraseña"
      />
    </div>
  </div>
  <p>Si no estás registrado aún. <a href="/register">Pulsa aquí</a></p>
  <button type="button" class="btn btn-outline-primary">Primary</button>
</div>
