<div class="container">
  <div class="row">
    <div class="col-md-4 p-5 text-center" *ngFor="let plan of planes; let i = index">
      <div class="card">
        <div class="card-body">
          <div class="eliminar-btn" (click)="eliminarPlan(plan.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M11.354 4.646a.5.5 0 0 1 0 .708L8.707 8l2.647 2.646a.5.5 0 0 1 0 .708a.5.5 0 0 1-.708 0L8 8.707l-2.646 2.647a.5.5 0 0 1-.708 0a.5.5 0 0 1 0-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
          </div>
          <h5 class="card-title">{{plan.nombre}}</h5>
          <p class="card-text">{{plan.precio}}€</p>
          <p class="card-text">{{plan.descripcion}}</p>
          <button type="button" class=" text-center btn btn-primary" >Reservar</button>
          <button type="button" *ngIf="mostrarBoton" (click)="actualizarPlan(plan.id)"  class=" text-center btn btn-warning" >Editar plan</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-5 text-center">
    <div class="card">
      <div class="card-body">
        <button type="button" class=" text-center btn btn-success" routerLink="nuevo">Añadir plan</button>
        
      </div>
    </div>
  </div>
  </div>
</div>